*.o

Makefile.in
aclocal.m4
autom4te.cache/
client/.deps/
client/Makefile
client/Makefile.in
client/tsunami
common/.deps/
common/Makefile
common/Makefile.in
common/libtsunami_common.a
config.guess
config.h
config.in
config.log
config.status
config.sub
configure
depcomp
include/Makefile
include/Makefile.in
install-sh
missing
rtclient/.deps/
rtclient/Makefile
rtclient/Makefile.in
rtclient/rttsunami
rtserver/.deps/
rtserver/Makefile
rtserver/Makefile.in
rtserver/rttsunamid
server/.deps/
server/Makefile
server/Makefile.in
server/tsunamid
stamp-h1
tsunami.spec
util/.deps/
util/Makefile
util/Makefile.in
util/fusereadtest
util/readtest
util/writetest
